@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  scrollbar-width: none; /* For Firefox */
}

.chat-container {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.chat-container::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
  display: none; /* For Chrome, Safari, and Opera */
}

.chat-enter {
  opacity: 0;
  transform: translateY(20px);
}
.chat-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.chat-exit {
  opacity: 1;
  transform: translateY(0);
}
.chat-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}

.chat-bubble {
  word-wrap: break-word; /* Ensure words wrap within the bubble */
  white-space: pre-wrap; /* Preserve whitespace and wrap text */
}

.transition-all {
  transition: all 0.5s ease-in-out;
}

.h-[80px] {
  height: 80px;
}

.h-[530px] {
  height: 530px;
}

.initial-position {
  width: 600px; /* Increased initial width */
  height: 80px;
  margin: 20px auto;
  margin-top: 150px;
  transition: all 0.7s ease-in-out; /* Smoother transition */
  position: relative;
}

.expand-animation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.7s ease-in-out; /* Smoother transition */
  animation: expand 0.7s ease-in-out forwards; /* Smoother animation */
}

.minimize-animation {
  width: 600px; /* Initial width */
  height: 80px;
  margin-top: 150px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.7s ease-in-out; /* Smoother transition */
  animation: minimize 0.7s ease-in-out forwards; /* Smoother animation */
}

@keyframes expand {
  0% {
    width: 600px; /* Initial width */
    height: 80px;
    margin-top: 150px;
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
  }
}

@keyframes minimize {
  0% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
  }
  100% {
    width: 600px; /* Initial width */
    height: 80px;
    margin-top: 150px;
  }
}